/* || General Style */
a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    opacity: .75;
}

/* || Typography */
body {
    font-family: Optimistic Display, -apple-system, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji";
    /*font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;*/
}

/* || General Structures (Objects under the OOCSS methodology) */
.page-heading {
    font-size: 4em;
}

.section {
    margin: 40px auto;
    padding: 20px 10px;
}
.section-title {
    font-size: 2em;
}

.comment-quote {
    position: relative;
}
.comment-quote:hover .comment {
    display: block;
    width: fit-content;
    height: fit-content;
    /*animation-play-state: running;*/
}
.comment {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    translate: calc(100% - 100px) calc(100% - 10px);
    width: 0;
    height: 0;
    padding: .15em;
    border-radius: .15em;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    text-align: center;
    font-size: .3em;
    animation: "rtl-appear" 2s ease-in-out 1 forwards;
    transition: width 0.5s ease-in-out 0.5s;

}
.comment:hover {
    overflow: initial;
    text-wrap: initial;
    width: auto;
    height: auto;
}

@keyframes rtl-appear {
    from {
        width: 0;
    }
    to {
        width: 50%;
        animation-play-state: paused;
    }
}

/* || Structures (Objects under the OOCSS methodology) (styled following the layout) */
/* header */
.page-header {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: left;
    min-height: 40px;
    padding: 20px 10px;
    margin: 0 auto;
}
.page-header > * {
    margin-right: 20px;
    margin-left: 20px;
}
.page-header > *:last-child {
    width: 100%;
}

.page-logo {
    display: block;
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
    border-bottom: 2px solid #9999A1;
    outline: 4px solid #9999A1;
    text-wrap: nowrap;
}
.page-logo > h1 {
    width: fit-content;
    height: fit-content;
}

.page-nav {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}
.page-nav > ul {
    list-style: none;
}
.page-nav li {
    margin: 0 20px;
}

.add-ons-menu {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: right;
}

/* || General Skins (Skins under the OOCSS methodology) */
.--page-width {
    width: 85%;
}

.--border-bottom-divider {
    border-bottom: 2px solid #E6E6E9;
}

.--color-anti-flash-white {
    color: #F4F4F6;
}
.--color-platinum {
    color: #E5E5E5;
}
.--bg-taupe-grey {
    background-color: #9999A1;
}
.--bg-gunmetal {
    background-color: #242F40;
}

.--text-shadow-black {
    text-shadow: 1px 1px 20px #000000;
}

.--text-shadow-child-no-inherit * {
    text-shadow: none;
}

.--filter-drop-shadow-black-invert-ten-percent {
    filter: drop-shadow(16px 16px 20px #000000) invert(10%);
}

.--flex-right {
    justify-items: right;
}


