/* || Typography */
body {
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}

/* || Header and Main Navigation */
.page-header {
    padding: 10px 20px;
    background-color: #6592CF;
    color: #ffffff;
    font-weight: bold;
}

.page-nav {

}